body{
    background-image: url(../img/picture/jj.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

input{
    box-sizing: border-box;
    margin:5px;
    padding: 5px;
    width: 250px;
    border: 1px solid black;
    border-radius: 6px;
    color: white;
    background-image: url(../img/picture/jj.jpg);
  
}
[type="submit"]{
    cursor: pointer;
    width: 200px;
    margin: 5px 25px;
    border-radius: 15px;
    padding: 8px;
}
.hide-pass{
    cursor: pointer;
    color: rgb(255, 251, 251);
}
.hide-pass.show{
color: rgb(50, 202, 152);
}
input.pass{
    padding-right: 30px;
}

.full-form{
    
   margin:200px auto;
   width: 300px;
   height: 200px;
   padding: 20px;
   border: 1px solid rgb(14, 13, 13);
   border-radius: 5px;
   box-shadow: 2px 2px 2px rgb(3, 3, 3);

}
.full-form h1{
    color: white;
}
.form-item{
    display: table;
    position: relative;
}

.form-item .hide-pass{
    position: absolute;
    right: 14px;
    top:0;
    bottom: 0;
    display: flex;
    align-items: center;
    font-size: 18px;
}